body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 100%;
    
}

.nav-1{
    background-color: #fbf8f0; 
    border-radius:30px;
    border-top: 3px #17222b solid;
    border-right: 4px #17222b solid;
    border-bottom: 3px #17222b solid;
    border-left: 4px #17222b solid; 
    width: 790px;
    height: 40px;
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;

    position: fixed;
        bottom: 85%;
        left: 24%;
          
}

.nav-1 a{
    text-decoration-color: #555555;
    text-decoration: none;
    color: #555555;
    margin: 20px;
    margin-bottom: 100px;

}

.nav-1 a:hover{
    color: #86373e;
    transform: scale(1.3);
    cursor: pointer;

}

.web-banner{
    width: 92%;
    height: 592px;
    border: 5px  #17222b solid;
    border-radius: 20px;
    line-height: 2%;
    background-color: #fbf8f0;

    position: absolute;
        top: 70px;
        left: 62px;

}

button{

    background-color: #f1bd78;
    width: 110px;
    height: 50%;
    border-radius: 5px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    font-size: 18px;
    font-weight: bold;
        
    position: absolute;
        top: 18px;
        left: 635px;
        bottom: 70%;

}

button:hover{
    background-color: #e89d3b;
    color: #f4f4f4;
    transform: scale(1.0);
    cursor: pointer;

}

.services{
    width: 92%;
    height: 592px;
    border: 5px  #17222b solid;
    border-radius: 20px;
    line-height: 2%;
    background-color: #fbf8f0;

    position: absolute;
        top: 749px;
        left: 62px;

}

.services{
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content:space-evenly ;
    align-items: center;
 
}

.item{
    width: 200px;
    height: 355px;
    border-radius: 5px;
    border: 1px  #17222b solid

}

